<!DOCTYPE html>
<html>
<head>
  <title>Wintas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :fixed => :top, :brand => "Multi-Tenant Task App", :responsive => true do %>
    <% if current_user %>
	    <%= menu_group do %>
        <%= menu_item "Tasks", tasks_path %>
				<%= drop_down "Users" do %>
        	<%= menu_item "View Users", users_path %>
        	<%= menu_item "Add a User", users_add_path %>
      	<% end %>
      <% end %>
    <% end %>
    <%= menu_group :pull => :right do %>
  		<% if current_user %>
     		Logged in as <%= current_user.email %> ( <%= current_organization.name %> )
        <%= link_to "Log Out", logout_path %>
      <% else %>
      	<%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
      <% end %>
    <% end %>
<% end %>
<%= yield %>

</body>
</html>
